<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soft1921.boot.mybatis.mapper.ClazzMapper">
  <resultMap id="BaseResultMap" type="soft1921.boot.mybatis.domain.Clazz">
    <!--@mbg.generated-->
    <!--@Table t_clazz-->
    <id column="clazz_id" jdbcType="INTEGER" property="clazzId" />
    <result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    clazz_id, clazz_name, teacher_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_clazz
    where clazz_id = #{clazzId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_clazz
    where clazz_id = #{clazzId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="clazz_id" keyProperty="clazzId" parameterType="soft1921.boot.mybatis.domain.Clazz" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_clazz (clazz_name, teacher_id)
    values (#{clazzName,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="clazz_id" keyProperty="clazzId" parameterType="soft1921.boot.mybatis.domain.Clazz" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_clazz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clazzName != null">
        clazz_name,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clazzName != null">
        #{clazzName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="soft1921.boot.mybatis.domain.Clazz">
    <!--@mbg.generated-->
    update t_clazz
    <set>
      <if test="clazzName != null">
        clazz_name = #{clazzName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
    </set>
    where clazz_id = #{clazzId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="soft1921.boot.mybatis.domain.Clazz">
    <!--@mbg.generated-->
    update t_clazz
    set clazz_name = #{clazzName,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where clazz_id = #{clazzId,jdbcType=INTEGER}
  </update>
</mapper>