<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soft1921.boot.mybatis.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="soft1921.boot.mybatis.domain.Course">
    <!--@mbg.generated-->
    <!--@Table t_course-->
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    course_id, course_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_course
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_course
    where course_id = #{courseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="course_id" keyProperty="courseId" parameterType="soft1921.boot.mybatis.domain.Course" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_course (course_name)
    values (#{courseName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="course_id" keyProperty="courseId" parameterType="soft1921.boot.mybatis.domain.Course" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseName != null">
        course_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="soft1921.boot.mybatis.domain.Course">
    <!--@mbg.generated-->
    update t_course
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="soft1921.boot.mybatis.domain.Course">
    <!--@mbg.generated-->
    update t_course
    set course_name = #{courseName,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
</mapper>